[submodule "da-disperser/0g-da-client"]
	path = da-disperser/0g-da-client
	url = git@github.com:0glabs/0g-da-client.git
[submodule "da-contract/0g-da-contract"]
	path = da-contract/0g-da-contract
	url = git@github.com:0glabs/0g-da-contract.git
[submodule "da-encoder/0g-da-encoder"]
	path = da-encoder/0g-da-encoder
	url = git@github.com:0glabs/0g-da-encoder.git
[submodule "da-node/0g-da-node"]
	path = da-node/0g-da-node
	url = git@github.com:0glabs/0g-da-node.git
[submodule "test-client/0g-da-example-rust"]
	path = test-client/0g-da-example-rust
	url = git@github.com:0glabs/0g-da-example-rust.git
[submodule "blockchain/0g-chain"]
	path = blockchain/0g-chain
	url = git@github.com:0glabs/0g-chain.git
