/da-encoder/params
/da-encoder/server
/da-contract/cache/*
*/blockchain_data/
*.log
/blockchain/run/blockchain_data/blockchain/conflux
blockchain/pos-genesis-tool
blockchain/conflux
blockchain/pos-genesis-tool
blockchain/run/
