.DS_Store

inabox/testdata/*
inabox/anvil.pid

test/testdata/*
inabox/resources/kzg/SRSTables/*

run/

**/bin/*
coverage.*
*log

*__pycache__*
*tmp*

/0g-da-client/.devcontainer
/0g-da-client/.gitbook
/0g-da-client/.github
/0g-da-client/0g-chain
/0g-da-client/0g-da-contract
/0g-da-client/0g-da-encoder
/0g-da-client/0g-da-signer